<div class="callout callout--primary callout-signup ">
    <div class="grid grid--1x2">
        <div class="callout__content">
            <h2 class="callout__heading"> Ready to Get Started</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui autem, eius harum non odio ratione
                tempore, amet nam culpa voluptates voluptatem debitis placeat accusantium! Tempora itaque pariatur
                quaerat deserunt aliquam?
            </p>
        </div>
        <a href="#" class="btn btn--secondary btn--stretched">Get Started</a>
    </div>
</div>