<div class="collapsible collapsible--expanded">
    <header class="collapsible__header">
        <h2 class="collapsible__heading">Item</h2>

        <img src="images/chevron.svg" class="icon collapsible__chevron" alt="White chevron on the black background" />

    </header>
    <div class="collapsible__content">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo iste, amet vel saepe a in enim possimus id
        dolorem provident repellendus, eligendi ad iusto aspernatur blanditiis officiis eum corporis animi.

    </div>
</div>